<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Excel工具</title>
</head>
<link rel="stylesheet" href="./ExcelTools.css">
<script lang="javascript" src="./dist_xlsx.full.min.js"></script>
<link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="//unpkg.com/element-plus"></script>

<body>
  <div class="container" id="app">
    <h3>{{title}}导入导出</h3>
    <div class="modal-area">
      <div class="modal-title">{{title}}文件项</div>
      <el-form ref="excelHeaderRef">
        <template v-for="(i, k) in headerList" :key="k">
          <el-row :gutter="20">
            <el-col :span="6">
              <el-form-item :label="`表头${k+1}:`">
                <el-input :readonly="isFixed" placeholder="请输入表头名" :disabled="isFixed" type="text"
                  v-model="i.head_v"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="输出名(可选):">
                <el-input :readonly="isFixed" :disabled="isFixed" type="text" v-model="i.output_v"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="重复的表头名称">
                <el-radio-group v-model="i.is_repeat" :disabled="isFixed">
                  <el-radio :label="false">不存在</el-radio>
                  <el-radio :label="true">存在</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :span="6" v-if="i.is_repeat">
              <el-form-item label="重复次数(不算本次)">
                <el-input-number v-model="i.repeat_count" :disabled="isFixed" :min="1" :step="1" step-strictly />
              </el-form-item>
            </el-col>
          </el-row>
        </template>
      </el-form>
      <div class="button-area">
        <el-button @click="addHeader" type="primary">添加表头项</el-button>
        <div>
          <el-button @click="confirmHeader" type="primary">确定</el-button>
          <el-button @click="cancelHeader">取消</el-button>
        </div>
      </div>
    </div>
    <div class="modal-area">
      <div class="modal-title">导出文件项</div>
      <el-form>
        <template v-for="(g, k) in exprotGroup" :key="k">
          <el-row :gutter="20">
            <el-col :span="6">
              <el-form-item label="分组名称:">
                <el-input :readonly="isFixedOutput" :disabled="isFixedOutput" type="text"
                  v-model="g.group_name"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="包含的表头:">
                <el-select v-model="g.excel_headers" placeholder="Select">
                  <el-option v-for="item in headerList" :key="item.value" :label="item.head_v" :value="item.head_v" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </template>
      </el-form>
      <div class="add-icon-btn" @click="addGroupName">+</div>
      <template v-if="exprotGroup.length > 1">
        <div class="modal-title" style="margin-top: 10px;">多个分组依据及对应条件</div>
        <el-form>
          <template v-for="(i, k) in exprotGroup" :key="k">
            <el-row :gutter="20">
              <el-col :span="6">
                <el-form-item :label="`分组${k+1}`">
                  <el-select v-model="i.rulesHeader" placeholder="Select">
                    <el-option v-for="item in headerList" :key="item.value" :label="item.head_v" :value="item.head_v" />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="匹配值:">
                  <el-input :readonly="isFixedOutput" :disabled="isFixedOutput" type="text"
                    v-model="i.rulesValue"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </template>
        </el-form>
      </template>
      <el-divider></el-divider>
      <div class="button-area">
        <div></div>
        <div>
          <el-button @click="confirmOutput" type="primary">确定</el-button>
          <el-button @click="cancelOutput">取消</el-button>
        </div>
      </div>
    </div>
    <div class="modal-area">
      <div class="modal-title">上传excel文件</div>
      <input id="file_input" type="file" @change="uploadFile">
    </div>
    <div class="modal-area">
      <pre class="pre-area">{{ outputData }}</pre>
    </div>
  </div>
</body>
<script>
  const { createApp, ref, reactive, onMounted } = Vue;

  createApp({
    setup() {
      const elSize = 'small';
      let headerList = reactive([
        {
          head_v: '',
          output_v: '',
          is_repeat: false,
          repeat_count: 0,
          is_group: false
        },
        {
          head_v: '',
          output_v: '',
          is_repeat: false,
          repeat_count: 0,
          is_group: false
        },
        {
          head_v: '',
          output_v: '',
          is_repeat: false,
          repeat_count: 0,
          is_group: false
        }
      ]);
      let isFixed = ref(false);
      let isFixedOutput = ref(false);
      let title = ref('Excel');
      const config = ref({
        size: 'small'
      })
      let exprotGroup = reactive([{
        group_name: '',
        excel_headers: [],
        rulesHeader: '',
        rulesValue: ''
      }]);
      let outputData = ref({})

      // 生命周期
      onMounted(() => {
        headerList = storageFunction('get', {name: 'HEADER'})
        exprotGroup = storageFunction('get', {name: 'OUTPUT'})
      })

      const addHeader = () => {
        headerList.push({
          head_v: '',
          output_v: '',
          is_repeat: false,
          repeat_count: 0,
          is_group: false
        })
      }
      const storageFunction = (type = 'add', data) => {
        if (type == 'add') {
          localStorage.setItem(data.name, data.data)
        }
        if (type == 'get') {
          localStorage.getItem(data.name)
        }
        if (type == 'delete') {
          localStorage.removeItem(data.name)
        }
      }
      const confirmHeader = () => {
        isFixed.value = true;
        storageFunction('add', {name: 'HEADER', data: headerList})
      }
      const cancelHeader = () => { isFixed.value = false; }

      const addGroupName = () => { exprotGroup.push({ group_name: '', excel_headers: [] }) }
      const confirmOutput = () => { 
        isFixedOutput.value = true;
        storageFunction('add', {name: 'OUTPUT', data: exprotGroup})
      }
      const cancelOutput = () => { isFixedOutput.value = false; }

      const newUploadFile = (e) => {
        let file = e.target.files[0];
        let reader = new FileReader(); //读取操作就是由它完成.
        reader.readAsBinaryString(file);//读取文件的内容,也可以读取文件的URL
        reader.onload = (evt) => {
          try {
            let data = evt.target.result,
              workbook = XLSX.read(data, {
                type: 'binary'
              }), // 以二进制流方式读取得到整份excel表格对象
              buildings = [], // 存储获取到的数据
              fromTo = '';
            for (let sheet in workbook.Sheets) {
              if (workbook.Sheets.hasOwnProperty(sheet)) {
                fromTo = workbook.Sheets[sheet]['!ref'];
                buildings = buildings.concat(XLSX.utils.sheet_to_json(workbook.Sheets[sheet]));
                // break; // 如果只取第一张sheet表，就取消注释这行
              }
            }
            // let fileRows = buildings.length - 1;//表格内容行数，减去表头的一行

            // 初始化分组
            console.log(headerList, exprotGroup)
            buildings.forEach(b => {
            })
          } catch (e) {
            console.log('处理失败', e)
            return;
          }
        }
      }
      const uploadFile = (e) => {
        newUploadFile(e);
        return;
        let file = e.target.files[0];
        let reader = new FileReader(); //读取操作就是由它完成.
        reader.readAsBinaryString(file);//读取文件的内容,也可以读取文件的URL
        reader.onload = function (evt) {
          try {
            var data = evt.target.result,
              workbook = XLSX.read(data, {
                type: 'binary'
              }), // 以二进制流方式读取得到整份excel表格对象
              buildings = []; // 存储获取到的数据
            var fromTo = '';
            // 遍历每张表读取
            for (var sheet in workbook.Sheets) {
              if (workbook.Sheets.hasOwnProperty(sheet)) {
                fromTo = workbook.Sheets[sheet]['!ref'];
                buildings = buildings.concat(XLSX.utils.sheet_to_json(workbook.Sheets[sheet]));
                // break; // 如果只取第一张sheet表，就取消注释这行
              }
            }
            // console.log(workbook)
            // let fileRows = buildings.length - 1;//表格内容行数，减去表头的一行
            let BrandArr = [];
            let CategoryArr = [];
            let EfficacyArr = [];
            let OtherArr = [];
            buildings.forEach(i => {
              let is_push = false;
              if (i['搜索词'] && i['类目'] && i['分类.CN_1'] && i['分类.EN_1'] && i['分类.EN_1'] == 'Category') {
                is_push = true;
                CategoryArr.push({
                  cn_name: i['搜索词'],
                  en_name: i['搜索词'],
                  value: i['搜索词'],
                  cn_type: i['分类.CN_1'],
                  en_type: i['分类.EN_1'],
                  category: i['类目']
                })
              }
              if (i['搜索词'] && i['类目'] && i['分类.CN_1'] && i['分类.EN_1'] && i['分类.EN_1'] == 'Efficacy') {
                is_push = true;
                EfficacyArr.push({
                  cn_name: i['搜索词'],
                  en_name: i['搜索词'],
                  value: i['搜索词'],
                  cn_type: i['分类.CN_1'],
                  en_type: i['分类.EN_1'],
                  category: i['类目']
                })
              }
              if (i['brand.CN'] && i['brand.EN'] && i['分类.CN'] && i['分类.EN'] && i['分类.EN'] == 'Brand') {
                is_push = true;
                BrandArr.push({
                  cn_name: i['brand.CN'],
                  en_name: i['brand.EN'],
                  value: i['brand.EN'],
                  cn_type: i['分类.CN'],
                  en_type: i['分类.EN']
                })
              }
              if (!is_push) {
                OtherArr.push(i)
              }
            })
            console.log('Brand:', BrandArr)
            console.log('Category:', CategoryArr)
            console.log('Efficacy:', EfficacyArr)
            console.log('Other:', OtherArr)
            exportFile.value = {
              Brand: BrandArr,
              Category: CategoryArr,
              Efficacy: EfficacyArr,
              Other: OtherArr
            }
            exportFile(exportFile.value)
          } catch (e) {
            console.log('文件类型不正确', e);
            return;
          }
        }
      }

      const exportFile = (data, file_name = 'demo.json') => {
        if (typeof data === 'object') {
          data = JSON.stringify(data, null, 4);
        }
        // 导出数据
        const blob = new Blob([data], { type: 'text/json' }),
          e = new MouseEvent('click'),
          a = document.createElement('a');

        a.download = file_name;
        a.href = window.URL.createObjectURL(blob);
        a.dataset.downloadurl = ['text/json', a.download, a.href].join(':');
        a.dispatchEvent(e);
      }

      return {
        elSize,
        headerList,
        title,
        isFixed,
        isFixedOutput,
        exprotGroup,
        outputData,
        addHeader,
        confirmHeader,
        cancelHeader,
        uploadFile,
        addGroupName,
        confirmOutput,
        cancelOutput
      }
    }
  }).use(ElementPlus, { size: 'small' }).mount('#app')
</script>

<!-- <script>
  let dom = document.getElementById('file_input')
  dom.onchange = function selectFile() {
    let file = document.getElementById('file_input').files[0];
    var reader = new FileReader(); //读取操作就是由它完成.
    reader.readAsBinaryString(file);//读取文件的内容,也可以读取文件的URL
    reader.onload = function (evt) {
      try {
        var data = evt.target.result,
          workbook = XLSX.read(data, {
            type: 'binary'
          }), // 以二进制流方式读取得到整份excel表格对象
          buildings = []; // 存储获取到的数据
        var fromTo = '';
        // 遍历每张表读取
        for (var sheet in workbook.Sheets) {
          if (workbook.Sheets.hasOwnProperty(sheet)) {
            fromTo = workbook.Sheets[sheet]['!ref'];
            buildings = buildings.concat(XLSX.utils.sheet_to_json(workbook.Sheets[sheet]));
            // break; // 如果只取第一张sheet表，就取消注释这行
          }
        }
        // console.log(workbook)
        // let fileRows = buildings.length - 1;//表格内容行数，减去表头的一行
        let BrandArr = [];
        let CategoryArr = [];
        let EfficacyArr = [];
        let OtherArr = [];
        console.log(Vue)
        buildings.forEach(i => {
          let is_push = false;
          if (i['搜索词'] && i['类目'] && i['分类.CN_1'] && i['分类.EN_1'] && i['分类.EN_1'] == 'Category') {
            is_push = true;
            CategoryArr.push({
              cn_name: i['搜索词'],
              en_name: i['搜索词'],
              value: i['搜索词'],
              cn_type: i['分类.CN_1'],
              en_type: i['分类.EN_1'],
              category: i['类目']
            })
          }
          if (i['搜索词'] && i['类目'] && i['分类.CN_1'] && i['分类.EN_1'] && i['分类.EN_1'] == 'Efficacy') {
            is_push = true;
            EfficacyArr.push({
              cn_name: i['搜索词'],
              en_name: i['搜索词'],
              value: i['搜索词'],
              cn_type: i['分类.CN_1'],
              en_type: i['分类.EN_1'],
              category: i['类目']
            })
          }
          if (i['brand.CN'] && i['brand.EN'] && i['分类.CN'] && i['分类.EN'] && i['分类.EN'] == 'Brand') {
            is_push = true;
            BrandArr.push({
              cn_name: i['brand.CN'],
              en_name: i['brand.EN'],
              value: i['brand.EN'],
              cn_type: i['分类.CN'],
              en_type: i['分类.EN']
            })
          }
          if (!is_push) {
            OtherArr.push(i)
          }
        })
        console.log('Brand:', BrandArr)
        console.log('Category:', CategoryArr)
        console.log('Efficacy:', EfficacyArr)
        console.log('Other:', OtherArr)
      } catch (e) {
        console.log('文件类型不正确', e);
        return;
      }
    }
  }
</script> -->

</html>