* {
  /* font-size: 14px; */
}

h3 {
  font-size: 18px;
}

.container {
  padding: 20px 20px;
  box-sizing: border-box;
  min-width: 1135px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .5);
}

.modal-area {
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  margin-bottom: 15px;
}

.modal-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.button-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-icon-btn{
  border-radius: 50%;
  background-color: #101010;
  color: #fff;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  cursor: pointer;
}

.pre-area{
  max-height: 100vh;
  overflow-y: auto;
}

.delete-mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 8px);
  background-color: #616161;
  transform: translateY(-5px);
  opacity: .5;
  z-index: 10;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.delete-mask:hover{
  opacity: .7;
  box-shadow: 0 4px 5px 0 #0000008f;
  cursor: pointer;
}